* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.index .nav__container__links:nth-child(1)::after {
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem;
  grid-area: nav;
}

.nav__container {
  display: flex;
}

.nav__container a {
  text-decoration: none;
  color: #0e76a8;
  font-weight: 700;
  font-size: 0.8rem;
  transition: all 1s;
}

.nav__container__links {
  position: relative;
  padding: 0.5rem 0.5rem;
  transition: all 1s;
}

.nav__container__links::after {
  content: "";
  position: absolute;
  background-color: #0e76a8;
  height: 0.1rem;
  width: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}

.nav__container__links:hover::after {
  width: 100%;
}

.nav__logo {
  height: 3rem;
  width: 15rem;
}

.card-container {
  position: absolute;
  top: 15%;
  display: flex;
  height: 70vh;
  margin: 0 1rem;
  box-shadow: 0rem 0rem 1rem #0e76a8;
}

.card-container__section {
  display: inline-flex;
  position: relative;
  flex: 1;
  transition: all 0.5s ease-in;
}

.card-container__section a {
  text-decoration: none;
}

.card-container__section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  filter: grayscale();
}

.card-container__section:hover .card-container__section__image {
  filter: unset;
}

.card-container__section:hover {
  flex: 1.3;
}

.card-container__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #0e76a8;
  opacity: 0.3;
  pointer-events: none;
  transition: all 0.5s ease-in;
}

.card-container__section:hover::after {
  opacity: 0;
}

.card-container__section__title {
  position: absolute;
  top: 40%;
  color: white;
  font-size: 3rem;
  padding: 2rem;
  text-shadow: 0rem 0rem 0.3rem black;
  z-index: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem;
  grid-area: foot;
}

.footer__left__container {
  display: flex;
}

.footer__left__container a {
  text-decoration: none;
  color: #0e76a8;
  font-weight: 700;
  padding: 0.5rem;
  font-size: 0.7rem;
}

.footer__left__container__link {
  position: relative;
  transition: all 1s;
  transition: all 0.5s;
}

.footer__left__container__link::after {
  content: "";
  position: absolute;
  background-color: #0e76a8;
  height: 0.1rem;
  width: 0;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.footer__left__container__link:hover::after {
  width: 100%;
}

.footer__left__copyright h2 {
  font-size: 0.6rem;
  color: #0e76a8;
  padding: 0.5rem;
}
.footer__right a {
  color: #0e76a8;
  padding: 0.5rem;
  transition: all 1s;
}
.linkedin:hover {
  transform: scale(2);
  color: #0e76a8;
}
.facebook:hover {
  transform: scale(1.2);
  color: #4267b2;
}
.instagram:hover {
  transform: scale(1.2);
  color: #fbad50;
}
.map {
  background-color: #b0e2f7;
  display: flex;
  grid-area: map;
  margin: 0 1rem;
  box-shadow: 0rem 0rem 1rem #626262;
}
.contactInfo {
  grid-area: continfo;
  background-color: #b0e2f7;
  display: flex;
  margin: 0 1rem;
  box-shadow: 0rem 0rem 1rem #626262;
}
.form {
  grid-area: form;
  background-color: #b0e2f7;
  display: flex;
  margin: 0 1rem;
  box-shadow: 0rem 0rem 1rem #626262;
}
/* .index {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(12, minmax(0, 1fr));
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "cont cont cont cont cont cont cont cont cont cont cont cont"
    "cont cont cont cont cont cont cont cont cont cont cont cont"
    "cont cont cont cont cont cont cont cont cont cont cont cont"
    "cont cont cont cont cont cont cont cont cont cont cont cont"
    "cont cont cont cont cont cont cont cont cont cont cont cont"
    "cont cont cont cont cont cont cont cont cont cont cont cont"
    "cont cont cont cont cont cont cont cont cont cont cont cont"
    "cont cont cont cont cont cont cont cont cont cont cont cont"
    "foot foot foot foot foot foot foot foot foot foot foot foot"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
  height: 100vh;
} */
/* .about {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(12, minmax(0, 1fr));
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    "foot foot foot foot foot foot foot foot foot foot foot foot"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
  height: 100vh;
} */
.contact {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(12, minmax(0, 1fr));
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    ". . . . . . . . . . . ."
    "map map map map map map map map map map map map"
    "map map map map map map map map map map map map"
    "map map map map map map map map map map map map"
    ". . . . . . . . . . . ."
    "continfo continfo continfo continfo continfo continfo form form form form form form"
    "continfo continfo continfo continfo continfo continfo form form form form form form"
    ". . . . . . . . . . . ."
    "foot foot foot foot foot foot foot foot foot foot foot foot"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
  height: 100vh;
}
